.main{
    background: none;
    height: 100vh;
    width: 100wh;
}
.recipe_container{
    display: flex;
    justify-content: space-around; 
    /* margin-bottom: 5em; */
    background-color: /*#00000080;*/ rgb(202, 195, 195);
    border-radius: 0.6em;
    /* width: 90vw; */
    /* margin-left: 2em; */
    padding: 1.5rem 0;


}

.recipe_contain{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recipe_instructions{
   width: 30em; 
    /*height: 50rem;*/
    display: flex;
    flex-direction: column;
    /* margin-top: 2em; */
    gap: 1rem;
    
}
.recipe_content{
    margin-top: 0.5rem;
    line-height: 1.6rem;
    
}
.h1, .recipe_name{
    text-align: center;
}
.image{
    height: 16em;
    width: 20em;
    margin-top: 1rem;
    border-radius: 20px;
    
    
}
/* .recipe_ingredients{
    margin-bottom: 1em;
    margin-top: 1em;
} */
details summary {
  padding: 0.25em;
  width: 12em;
  background-color: #eeeeee;
  border: none;
  box-shadow: 0.06em 0.06em 0.12em #bbbbbb;
  cursor: pointer;
  font-weight: bold
}
details p {
  background-color: #eeeeee;
  padding:1em;
  margin: 0;
  box-shadow: 0.06em 0.06em 0.12em #bbbbbb;
}

.img_name{
    margin: 1rem;
}
.wrapper-class{
    display: flex;
    align-items: center;
    justify-content: center;
    display: grid;
    justify-content: center;
    align-items: center;
    height: 350px;
}
                
