.main{
    background: none;
    height: 100vh;
    width: 100wh;
}
.recipe_container{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5em;
    background-color: #00000080;
    border-radius: 0.6em;
    /* width: 90vw; */
    margin-left: 2em;


}

.recipe_contain{
    width: 20em;
    height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.recipe_instructions{
   width: 30em; 
    /*height: 50rem;*/
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    
}
.h1, .recipe_name{
    text-align: center;
}
.image{
    height: 16em;
    width: 20em;
    
    
}
.recipe_ingredients{
    margin-bottom: 1em;
    margin-top: 1em;
}
details summary {
  padding: 0.25em;
  width: 12em;
  background-color: #eeeeee;
  border: none;
  box-shadow: 0.06em 0.06em 0.12em #bbbbbb;
  cursor: pointer;
  font-weight: bold
}
details p {
  background-color: #eeeeee;
  padding:1em;
  margin: 0;
  box-shadow: 0.06em 0.06em 0.12em #bbbbbb;
}