#auth-form-container,.signin-from {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

.label-class {
    text-align: left;
    padding: 0.2rem 0;
}


.input{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0.3rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    color: #7439db;
}

.submit{
   border: none;
   background-color: rgba(255, 255, 255, 0.2);
   padding: 20px;
   border-radius: 10px;
   cursor: pointer; 
   color: black;
   background-color: #05BFDB;
   color: white;
   padding: 0.5rem;
   margin-top: 0.5rem;
}

.link-btn{
    text-decoration: underline;
    color: black;
    background: none;
}

.auth-form-container {
    padding: 5rem;
    border-radius: 50px;
    margin: 0.5rem;
}
