*{ 
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}


.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    color: white;
}
.ingredients{
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    border-radius: 20px;
}
h2{
margin-bottom: 1rem;
padding: 0.5rem;
}
.home_input{
    background-color: rgba(255, 255, 255, 1.5);
    margin: 0.3rem 0;
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    width: 15rem;
}
.home_input:focus{
    border: none;
    outline: none;
}
.home-btn{
    border: none;
    background-color: #05BFDB;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer; 
    color: white;
    margin-top: 2rem;
    
}
.available{
    padding: 0.5rem;
}
.loggedout{
    
 background-image: url("../assets/teal.png"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    /*width: 100vw;*/
    /*border: red 2px solid;*/
}
.content{
    /*border: 2px solid  white;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 9px;
    margin-right: 9px;
    padding: 50px;
    border-radius: 100px;
}
.pepsi{
    /*border: 2px red solid;*/
    margin-left: 9rem;
}
home_img{
    border-radius: 50px ;
    
}
.text{
    width: 15em;
}
.btn3{
    margin-top: 25px;
    margin: 5px, 5px;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    color: teal;
    padding: 1em;
    font-size: 16px;

}
strong{
    color: white;
}
.para{
    font-size: 17px;
}